*{
  box-sizing: border-box;
  margin 0;
padding 0;}

body {background: #ccf url("img/page-bg1.png") no-repeat center center fixed;
   background-size: cover;}

  
    .wrapper {
        width:480px;
        background-color:white;
        color: #4e5050;
        margin-left: 480px;
        font-family: Arial, Helvetica, sans-serif;
        font-size:12px;
        font-weight: 100;
         
    
   }

  hr {   
       margin-top:52px;
       margin-bottom:52px;
       background-color:#808080; }
      
   div {
    padding-left:38px;
    padding-right:36px;
    padding-top: 59px;
    padding-bottom: 44px;
   }

}

h2 {font-family: Pathway Gothic One;
    font-size:25px;
    color: #263555;
}

h4 {
    color: #263555;
    font-family: Arial, Helvetica, sans-serif;
    font-size 14px;

}


.line {
    width: 405px;
    height: 1px;
    background-color: darkgray; 
    padding: 0;
    margin-top:54px;
    margin-bottom:54px;
}

   .list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text: #263555;
    columns:2;


ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 30px;
}


li {
    margin: 12px 0px 0px 0px;
    padding-left: 20px;
    display: inline-block;
  
}
  
 
  